h2
form(action='/userFileUpload', method='post', enctype='multipart/form-data')
    | Enter your email id:
    input(type='text', name='email')
    br
    br
    | Select Your File:
    input(type='file', name='user_image')
    input(type='submit', value='Upload')

